#share
  a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://sharp-flower-2982.herokuapp.com/", data-text="#socketio hover demo", data-via="kevino80", data-hashtags="nodejs") Tweet
  | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

#title
  h1 socket.io and node.js hover demo
  p 
    | This is a simple <a href="https://github.com/kevinohara80/socketio-hover-demo">node.js</a> 
    | app that uses jQuery to capture 
    | mouse hover events, pipes them to node using <a href="http://socket.io/">socket.io</a>, then 
    | the node app responds 
    | and the response from the server is shown in the console below. You can check out the 
    | code on <a href="https://github.com/kevinohara80/socketio-hover-demo">Github</a>.

p 
  | <strong>Once the connection is made, hover over the boxes below:</strong>
#hover-pane
  div.box
    p Box #1
  div.box
    p Box #2
  div.box
    p Box #3
  div.box
    p Box #4
  div.box
    p Box #5

#server-window
  h3 Server Responses:
  div.results
    ul

| <a href="http://github.com/kevinohara80/socketio-hover-demo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
