#share
  a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://sharp-flower-2982.herokuapp.com/", data-text="#socketio hover demo", data-via="kevino80", data-hashtags="nodejs") Tweet
  | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
h2.status.red Status: Connecting...
p 
  | This is a simple node.js app that uses jQuery to capture 
  | mouse hover events, pipes them to node using socket.io, then 
  | the node app responds 
  | and the response is added to the list.
p
  a(href="https://github.com/kevinohara80/socketio-hover-demo") Github repo

div.box
  p Box #1
div.box
  p Box #2
div.box
  p Box #3
div.box
  p Box #4
div.box
  p Box #5

#server-window
  h3 Server Responses:
  div.results
    ul
